<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>优惠券</title>

		<link href="__STATIC__index/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="__STATIC__index/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="__STATIC__index/css/personal.css" rel="stylesheet" type="text/css">
		<link href="__STATIC__index/css/cpstyle.css" rel="stylesheet" type="text/css">
			
		<script src="__STATIC__index/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
		<script src="__STATIC__index/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
    	<script src="__STATIC__admin/lib/layui/layui.js" charset="utf-8"></script>

	</head>

	<body>
		{include file="public/header"}
		<div class="nav-table">
			<div class="long-title"><span class="all-goods">全部分类</span></div>
			<div class="nav-cont">
				<ul>
					<li class="index"><a href="#">首页</a></li>
					<li class="qc"><a href="#">闪购</a></li>
					<li class="qc"><a href="#">限时抢</a></li>
					<li class="qc"><a href="#">团购</a></li>
					<li class="qc last"><a href="#">大包装</a></li>
				</ul>
				<div class="nav-extra">
					<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
					<i class="am-icon-angle-right" style="padding-left: 10px;"></i>
				</div>
			</div>
		</div>
		<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-coupon">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">优惠券</strong> / <small>Coupon</small></div>
						</div>
						<hr/>

						<div class="am-tabs-d2 am-tabs  am-margin" data-am-tabs>

							<ul class="am-avg-sm-2 am-tabs-nav am-nav am-nav-tabs">
								<li class="am-active"><a href="#tab1">可用优惠券</a></li>
								<li><a href="#tab2">已用/过期优惠券</a></li>

							</ul>

							<div class="am-tabs-bd">
								<div class="am-tab-panel am-fade am-in am-active" id="tab1">
									<div class="coupon-items">
										{volist name="coupons" id="vo"}
										{if $vo.status == 1}
										<div class="coupon-item coupon-item-d">
											<div class="coupon-list">
												<div class="c-type">
													<div class="c-class">
														<strong>购物券</strong>
													</div>
													<div class="c-price">
														<strong>￥{$vo.price}</strong>
													</div>
													<div class="c-limit">
														{if $vo.limit != 0.00}
														【消费满&nbsp;{$vo.limit}元&nbsp;可用】
														{else /}
														【无门槛】
														{/if} 
													</div>
													<div class="c-time"><span>使用期限</span>{:date('Y-m-d H:i',$vo.start_time)}--{:date('Y-m-d H:i',$vo.end_time)}</div>
													<div class="c-type-top"></div>

													<div class="c-type-bottom"></div>
												</div>

												<div class="c-msg">
													<div class="c-range">
														<div class="range-all">
															<div class="range-item">
																<span class="label">券&nbsp;编&nbsp;号：</span>
																<span class="txt">{$vo.coupon_number}</span>
															</div>
														</div>
													</div>
													<div class="op-btns">
														<a href="{:url('goods/list')}" class="btn"><span class="txt">立即使用</span><b></b></a>
													</div>
												</div>
											</div>
										</div>
										{/if}
										{/volist}
									</div>

								</div>
								<div class="am-tab-panel am-fade" id="tab2">
									<div class="coupon-items">
										{volist name="coupons" id="vo"}
										{if $vo.status == 2}
										<div class="coupon-item coupon-item-d">
											<div class="coupon-list">
												<div class="c-type">
													<div class="c-class">
														<strong>购物券</strong>
														<span class="am-icon-trash"></span>
													</div>
													<div class="c-price">
														<strong>￥{$vo.price}</strong>
													</div>
													<div class="c-limit">
														{if $vo.limit != 0.00}
														【消费满&nbsp;{$vo.limit}元&nbsp;可用】
														{else /}
														【无门槛】
														{/if}
													</div>
													<div class="c-time"><span>使用期限</span>{:date('Y-m-d H:i',$vo.start_time)}--{:date('Y-m-d H:i',$vo.end_time)}</div>
													<div class="c-type-top"></div>

													<div class="c-type-bottom"></div>
												</div>

												<div class="c-msg">
													<div class="c-range">
														<div class="range-all">
															<div class="range-item">
																<span class="label">券&nbsp;编&nbsp;号：</span>
																<span class="txt">{$vo.coupon_number}</span>
															</div>
														</div>
													</div>
													<div class="op-btns c-del">
														<a href="{:url('coupon/delete',['id'=>$vo.id])}" class="btn"><span class="txt">删除</span><b></b></a>
													</div>
												</div>
												
												<li class="td td-usestatus ">
													<div class="item-usestatus ">
														<span><img src="__STATIC__index/images/gift_stamp_31.png"</span>
													</div>
												</li>												
											</div>
										</div>
										{/if}
										{if $vo.status == 3}
										<div class="coupon-item coupon-item-d">
											<div class="coupon-list">
												<div class="c-type">
													<div class="c-class">
														<strong>购物券</strong>
														<span class="am-icon-trash"></span>
													</div>
													<div class="c-price">
														<strong>￥{$vo.price}</strong>
													</div>
													<div class="c-limit">
														{if $vo.limit != 0.00}
														【消费满&nbsp;{$vo.limit}元&nbsp;可用】
														{else /}
														【无门槛】
														{/if}
													</div>
													<div class="c-time"><span>使用期限</span>{:date('Y-m-d H:i',$vo.start_time)}--{:date('Y-m-d H:i',$vo.end_time)}</div>
													<div class="c-type-top"></div>

													<div class="c-type-bottom"></div>
												</div>

												<div class="c-msg">
													<div class="c-range">
														<div class="range-all">
															<div class="range-item">
																<span class="label">券&nbsp;编&nbsp;号：</span>
																<span class="txt">{$vo.coupon_number}</span>
															</div>
														</div>

													</div>
													<div class="op-btns c-del">
														<a href="{:url('coupon/delete',['id'=>$vo.id])}" class="btn"><span class="txt">删除</span><b></b></a>
													</div>
												</div>
												
												<li class="td td-usestatus ">
													<div class="item-usestatus ">
														<span><img src="__STATIC__index/images/gift_stamp_21.png"</span>
													</div>
												</li>
											</div>
										</div>
										{/if}
										{/volist}
									</div>
									
								</div>
							</div>

						</div>

					</div>

				</div>
				<!--底部-->
				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">商城首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
						</p>
					</div>
				</div>
			</div>
			{include file="public/user_nav"}
		</div>
		<script type="text/javascript" src="__STATIC__index/main.js"></script>

	</body>

</html>