<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="">BetterBoy后台</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">{$adminInfo.account}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a onclick="x_admin_show('个人信息','{:url('index/info')}')">个人信息</a></dd>
              <dd><a href="{:url('login/logout')}">退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item to-index"><a href="/">前台首页</a></li>
        </ul>
        
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
     <!-- 左侧菜单开始 -->
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
            {if in_array('admin',$controllers)}
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>管理员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('admin/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>管理员列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('role/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>角色管理</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('auth/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>权限管理</cite>
                        </a>
                    </li>
                </ul>
            </li>
            {/if}
            {if in_array('category',$controllers)}
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b5;</i>
                    <cite>分类管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('category/list')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>分类列表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('category/add')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>分类添加</cite>
                        </a>
                    </li>
                </ul>
            </li>
            {/if}
            {if in_array('goods',$controllers)}
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe722;</i>
                    <cite>商品管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('goods/list')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品列表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('goods/add')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品添加</cite>
                        </a>
                    </li>
                </ul>
            </li>
            {/if}
            {if in_array('picture',$controllers)}
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6a8;</i>
                    <cite>图片管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('picture/list')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>图片列表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="{:url('picture/add')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>图片添加</cite>
                        </a>
                    </li>
                </ul>
            </li>
            {/if}
            {if in_array('user',$controllers)}
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe732;</i>
                    <cite>会员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('user/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员列表</cite>
                        </a>
                    </li>
                </ul>
            </li>
            {/if}
            {if in_array('order',$controllers)}
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe724;</i>
                    <cite>订单管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('order/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>订单列表</cite>
                        </a>
                    </li>
                </ul>
            </li>
            {/if}
            {if in_array('featured',$controllers)}
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe756;</i>
                    <cite>推荐位管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('featured/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>推荐位列表</cite>
                        </a>
                    </li>
                </ul>
            </li>
            {/if}
            {if in_array('comment',$controllers)}
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe69e;</i>
                    <cite>评论管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('Comment/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>评论列表</cite>
                        </a>
                    </li>
                </ul>
            </li>
            {/if}
        </ul>
      </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->