<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>首页</title>
    <link href="__STATIC__index/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__index/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__index/basic/css/demo.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__index/css/hmstyle.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__index/css/skin.css" rel="stylesheet" type="text/css" />
    <script src="__STATIC__index/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <script src="__STATIC__index/AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>
    <script src="__STATIC__admin/lib/layui/layui.js" charset="utf-8"></script>
</head>
{include file="public/header"}
<div class="banner">
    <!--轮播 -->
    <div class="am-slider am-slider-default scoll" data-am-flexslider id="demo-slider-0">
        <ul class="am-slides">
            {volist name="featured" id="vo" length="4"}
            <li class="banner{$key+1}"><a href="{$vo.url}"><img src="{$vo.pic}" style="width:955px;height:430px;"/></a></li>
            {/volist}
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="shopNav">
    <div class="slideall">
        <div class="long-title"><span class="all-goods">全部分类</span></div>
        <div class="nav-cont">
            <ul>
                <li class="index"><a href="#">首页</a></li>
                <li class="qc"><a href="#">闪购</a></li>
                <li class="qc"><a href="#">限时抢</a></li>
                <li class="qc"><a href="#">团购</a></li>
                <li class="qc last"><a href="#">大包装</a></li>
            </ul>
            <div class="nav-extra">
                <i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
                <i class="am-icon-angle-right" style="padding-left: 10px;"></i>
            </div>
        </div>
        <!--侧边导航 -->
        <div id="nav" class="navfull">
            <div class="area clearfix">
                <div class="category-content" id="guide_2">
                    <div class="category">
                        <ul class="category-list" id="js_climit_li">
                            {volist name="cates" id="vo"}
                            {if $vo.pid == 0}
                            <li class="appliance js_toggle relative first">
                                <div class="category-info">
                                    <h3 class="category-name b-category-name"><a class="ml-22" title="{$vo.name}" href="{:url('goods/list',['cate'=>$vo.id])}">{$vo.name}</a></h3>
                                    <em>&gt;</em></div>
                                <div class="menu-item menu-in top">
                                    <div class="area-in">
                                        <div class="area-bg">
                                            <div class="menu-srot">
                                                <div class="sort-side">
                                                    <dl class="dl-sort">
                                                        {volist name="cates" id="val"}
                                                        {if $val.pid == $vo.id}
                                                        <dd><a title="{$val.name}" href="{:url('goods/list',['cate'=>$val.id])}"><span>{$val.name}</span></a></dd>
                                                        {/if}
                                                        {/volist}
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <b class="arrow"></b>
                            </li>
                            {/if}
                            {/volist}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--轮播-->
        <script type="text/javascript">
        (function() {
            $('.am-slider').flexslider();
        });
        $(document).ready(function() {
            $("li").hover(function() {
                $(".category-content .category-list li.first .menu-in").css("display", "none");
                $(".category-content .category-list li.first").removeClass("hover");
                $(this).addClass("hover");
                $(this).children("div.menu-in").css("display", "block")
            }, function() {
                $(this).removeClass("hover")
                $(this).children("div.menu-in").css("display", "none")
            });
        })
        </script>
        <!--小导航 -->
        <div class="am-g am-g-fixed smallnav">
            <div class="am-u-sm-3">
                <a href="sort.html"><img src="__STATIC__index/images/navsmall.jpg" />
								<div class="title">商品分类</div>
							</a>
            </div>
            <div class="am-u-sm-3">
                <a href="#"><img src="__STATIC__index/images/huismall.jpg" />
								<div class="title">大聚惠</div>
							</a>
            </div>
            <div class="am-u-sm-3">
                <a href="#"><img src="__STATIC__index/images/mansmall.jpg" />
								<div class="title">个人中心</div>
							</a>
            </div>
            <div class="am-u-sm-3">
                <a href="#"><img src="__STATIC__index/images/moneysmall.jpg" />
								<div class="title">投资理财</div>
							</a>
            </div>
        </div>
        <!--走马灯 -->
        <div class="marqueen">
            <span class="marqueen-title">商城头条</span>
            <div class="demo">
                <ul>
                    <li class="title-first"><a target="_blank" href="#">
									<img src="__STATIC__index/images/TJ2.jpg"></img>
									<span>[特惠]</span>商城爆品1分秒								
								</a></li>
                    <li class="title-first"><a target="_blank" href="#">
									<span>[公告]</span>商城与广州市签署战略合作协议
								     <img src="__STATIC__index/images/TJ.jpg"></img>
								     <p>XXXXXXXXXXXXXXXXXX</p>
							    </a></li>
                    <div class="mod-vip">
                        {if $user}
                        <div class="m-baseinfo">
                            <a href="__STATIC__index/person/index.html">
									<img src="{$userinfo->pic}">
								</a>
                            <em>
									Hi,<span class="s-name">{$userinfo->nickname}</span>
									<a href="#"><p>点击更多优惠活动</p></a>									
								</em>
                        </div>
                        <div class="member-logout">
                            <a class="am-btn-warning btn index_sig_btn" style="cursor:pointer;{if $isSig}background:#ddd;{/if}">{if $isSig}已签到{else /}签到{/if}</a>
                            <a class="am-btn-warning btn" href="{:url('login/logout')}">注销</a>
                        </div>
                        {else /}
                        <div class="m-baseinfo">
                            <a href="__STATIC__index/person/index.html">
									<img src="__STATIC__index/images/getAvatar.do.jpg">
								</a>
                            <em>
									请登录,<span class="s-name">获取更多优惠</span>
								</em>
                        </div>
                        <div class="member-logout">
                            <a class="am-btn-warning btn" href="{:url('login/index')}">登录</a>
                            <a class="am-btn-warning btn" href="{:url('regist/index')}">注册</a>
                        </div>
                        {/if}
                        <div class="member-login">
                            <a href="#"><strong>0</strong>待收货</a>
                            <a href="#"><strong>0</strong>待发货</a>
                            <a href="#"><strong>0</strong>待付款</a>
                            <a href="#"><strong>0</strong>待评价</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <li><a target="_blank" href="#"><span>[特惠]</span>洋河年末大促，低至两件五折</a></li>
                    <li><a target="_blank" href="#"><span>[公告]</span>华北、华中部分地区配送延迟</a></li>
                    <li><a target="_blank" href="#"><span>[特惠]</span>家电狂欢千亿礼券 买1送1！</a></li>
                </ul>
                <div class="advTip"><img src="__STATIC__index/images/advTip.jpg"/></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <script type="text/javascript">
        if ($(window).width() < 640) {
            function autoScroll(obj) {
                $(obj).find("ul").animate({
                    marginTop: "-39px"
                }, 500, function() {
                    $(this).css({
                        marginTop: "0px"
                    }).find("li:first").appendTo(this);
                })
            }
            $(function() {
                setInterval('autoScroll(".demo")', 3000);
            })
        }
        </script>
    </div>
    <div class="shopMainbg">
        <div class="shopMain" id="shopmain">
            <!--今日推荐 -->
            <div class="am-g am-g-fixed recommendation">
                <div class="clock am-u-sm-3" ">
					<img src=" __STATIC__index/images/2016.png "></img>
					<p>今日<br>推荐</p>
				</div>
				{volist name="vice_featured" id="vo" length="3" } 
				<div class="am-u-sm-4 am-u-lg-3 ">
                    <div class="info ">
                        <h3>{$vo.title}</h3>
                        <h4>{$vo.desc}</h4>
                    </div>
                    <div class="recommendationMain one">
                        <a href="{$vo.url}"><img src="{$vo.pic}" style="width:120px;height:120px;"></img></a>
                    </div>
                </div>
                {/volist}
            </div>
            <div class="clear "></div>
            <!--热门活动 -->
            <div class="am-container activity ">
                <div class="shopTitle ">
                    <h4>活动</h4>
                    <h3>每期活动 优惠享不停 </h3>
                    <span class="more ">
                              <a href="# ">全部活动<i class="am-icon-angle-right" style="padding-left:10px ;" ></i></a>
                        </span>
                </div>
                <div class="am-g am-g-fixed ">
                    <div class="am-u-sm-3 ">
                        <div class="icon-sale one "></div>
                        <h4>秒杀</h4>
                        <div class="activityMain ">
                            <img src="__STATIC__index/images/activity1.jpg "></img>
                        </div>
                        <div class="info ">
                            <h3>春节送礼优选</h3>
                        </div>
                    </div>
                    <div class="am-u-sm-3 ">
                        <div class="icon-sale two "></div>
                        <h4>特惠</h4>
                        <div class="activityMain ">
                            <img src="__STATIC__index/images/activity2.jpg "></img>
                        </div>
                        <div class="info ">
                            <h3>春节送礼优选</h3>
                        </div>
                    </div>
                    <div class="am-u-sm-3 ">
                        <div class="icon-sale three "></div>
                        <h4>团购</h4>
                        <div class="activityMain ">
                            <img src="__STATIC__index/images/activity3.jpg "></img>
                        </div>
                        <div class="info ">
                            <h3>春节送礼优选</h3>
                        </div>
                    </div>
                    <div class="am-u-sm-3 last ">
                        <div class="icon-sale "></div>
                        <h4>超值</h4>
                        <div class="activityMain ">
                            <img src="__STATIC__index/images/activity.jpg "></img>
                        </div>
                        <div class="info ">
                            <h3>春节送礼优选</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear "></div>
            <div id="f1">
                <!--甜点-->
                <div class="am-container ">
                    <div class="shopTitle ">
                        <h4>甜品</h4>
                        <h3>每一道甜品都有一个故事</h3>
                        <div class="today-brands ">
                            <a href="# ">桂花糕</a>
                            <a href="# ">奶皮酥</a>
                            <a href="# ">栗子糕 </a>
                            <a href="# ">马卡龙</a>
                            <a href="# ">铜锣烧</a>
                            <a href="# ">豌豆黄</a>
                        </div>
                        <span class="more ">
                    <a href="# ">更多美味<i class="am-icon-angle-right" style="padding-left:10px ;" ></i></a>
                        </span>
                    </div>
                </div>
                <div class="am-g am-g-fixed floodFour">
                    <div class="am-u-sm-5 am-u-md-4 text-one list ">
                        <div class="word">
                            <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                            <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                            <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                            <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                            <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                            <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                        </div>
                        <a href="# ">
								<div class="outer-con ">
									<div class="title ">
									开抢啦！
									</div>
									<div class="sub-title ">
										零食大礼包
									</div>									
								</div>
                                  <img src="__STATIC__index/images/act1.png " />								
							</a>
                        <div class="triangle-topright"></div>
                    </div>
                    <div class="am-u-sm-7 am-u-md-4 text-two sug">
                        <div class="outer-con ">
                            <div class="title ">
                                雪之恋和风大福
                            </div>
                            <div class="sub-title ">
                                ¥13.8
                            </div>
                            <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
                        </div>
                        <a href="# "><img src="__STATIC__index/images/2.jpg" /></a>
                    </div>
                    <div class="am-u-sm-7 am-u-md-4 text-two">
                        <div class="outer-con ">
                            <div class="title ">
                                雪之恋和风大福
                            </div>
                            <div class="sub-title ">
                                ¥13.8
                            </div>
                            <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
                        </div>
                        <a href="# "><img src="__STATIC__index/images/1.jpg" /></a>
                    </div>
                    <div class="am-u-sm-3 am-u-md-2 text-three big">
                        <div class="outer-con ">
                            <div class="title ">
                                小优布丁
                            </div>
                            <div class="sub-title ">
                                ¥4.8
                            </div>
                            <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
                        </div>
                        <a href="# "><img src="__STATIC__index/images/5.jpg" /></a>
                    </div>
                    <div class="am-u-sm-3 am-u-md-2 text-three sug">
                        <div class="outer-con ">
                            <div class="title ">
                                小优布丁
                            </div>
                            <div class="sub-title ">
                                ¥4.8
                            </div>
                            <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
                        </div>
                        <a href="# "><img src="__STATIC__index/images/3.jpg" /></a>
                    </div>
                    <div class="am-u-sm-3 am-u-md-2 text-three ">
                        <div class="outer-con ">
                            <div class="title ">
                                小优布丁
                            </div>
                            <div class="sub-title ">
                                ¥4.8
                            </div>
                            <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
                        </div>
                        <a href="# "><img src="__STATIC__index/images/4.jpg" /></a>
                    </div>
                    <div class="am-u-sm-3 am-u-md-2 text-three last big ">
                        <div class="outer-con ">
                            <div class="title ">
                                小优布丁
                            </div>
                            <div class="sub-title ">
                                ¥4.8
                            </div>
                            <i class="am-icon-shopping-basket am-icon-md  seprate"></i>
                        </div>
                        <a href="# "><img src="__STATIC__index/images/5.jpg" /></a>
                    </div>
                </div>
                <div class="clear "></div>
            </div>
            <div id="f2">
                <!--坚果-->
                <div class="am-container ">
                    <div class="shopTitle ">
                        <h4>坚果</h4>
                        <h3>酥酥脆脆，回味无穷</h3>
                        <div class="today-brands ">
                            <a href="# ">腰果</a>
                            <a href="# ">松子</a>
                            <a href="# ">夏威夷果 </a>
                            <a href="# ">碧根果</a>
                            <a href="# ">开心果</a>
                            <a href="# ">核桃仁</a>
                        </div>
                        <span class="more ">
                    <a href="# ">更多美味<i class="am-icon-angle-right" style="padding-left:10px ;" ></i></a>
                        </span>
                    </div>
                </div>
                <div class="am-g am-g-fixed floodThree ">
                    <div class="am-u-sm-4 text-four list">
                        <div class="word">
                            <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                            <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
							<a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                            <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                            <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                            <a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>
                        </div>
                        <a href="# ">
								<img src="__STATIC__index/images/act1.png " />
								<div class="outer-con ">
									<div class="title ">
										雪之恋和风大福
									</div>									
								</div>
							</a>
                        <div class="triangle-topright"></div>
                    </div>
                    <div class="am-u-sm-4 text-four">
                        <a href="# ">
								<img src="__STATIC__index/images/6.jpg" />
								<div class="outer-con ">
									<div class="title ">
										雪之恋和风大福
									</div>								
									<div class="sub-title ">
										¥13.8
									</div>
									<i class="am-icon-shopping-basket am-icon-md  seprate"></i>
								</div>
							</a>
                    </div>
                    <div class="am-u-sm-4 text-four sug">
                        <a href="# ">
								<img src="__STATIC__index/images/7.jpg" />
								<div class="outer-con ">
									<div class="title ">
										雪之恋和风大福
									</div>
									<div class="sub-title ">
										¥13.8
									</div>
									<i class="am-icon-shopping-basket am-icon-md  seprate"></i>
								</div>
							</a>
                    </div>
                    <div class="am-u-sm-6 am-u-md-3 text-five big ">
                        <a href="# ">
								<img src="__STATIC__index/images/10.jpg" />
								<div class="outer-con ">
									<div class="title ">
										雪之恋和风大福
									</div>		
									<div class="sub-title ">
										¥13.8
									</div>
									<i class="am-icon-shopping-basket am-icon-md  seprate"></i>
								</div>
							</a>
                    </div>
                    <div class="am-u-sm-6 am-u-md-3 text-five ">
                        <a href="# ">
								<img src="__STATIC__index/images/8.jpg" />
								<div class="outer-con ">
									<div class="title ">
										雪之恋和风大福
									</div>	
									<div class="sub-title ">
										¥13.8
									</div>
									<i class="am-icon-shopping-basket am-icon-md  seprate"></i>
								</div>
							</a>
                    </div>
                    <div class="am-u-sm-6 am-u-md-3 text-five sug">
                        <a href="# ">
								<img src="__STATIC__index/images/9.jpg" />
								<div class="outer-con ">
									<div class="title ">
										雪之恋和风大福
									</div>
									<div class="sub-title ">
										¥13.8
									</div>
									<i class="am-icon-shopping-basket am-icon-md  seprate"></i>
								</div>
							</a>
                    </div>
                    <div class="am-u-sm-6 am-u-md-3 text-five big">
                        <a href="# ">
								<img src="__STATIC__index/images/10.jpg" />
								<div class="outer-con ">
									<div class="title ">
										雪之恋和风大福
									</div>			
									<div class="sub-title ">
										¥13.8
									</div>
									<i class="am-icon-shopping-basket am-icon-md  seprate"></i>
								</div>
							</a>
                    </div>
                </div>
                <div class="clear "></div>
            </div>
            {include file="public/footer"}