<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>找回密码</title>

		<link href="__STATIC__index/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="__STATIC__index/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="__STATIC__index/css/personal.css" rel="stylesheet" type="text/css">
		<link href="__STATIC__index/css/stepstyle.css" rel="stylesheet" type="text/css">

		<script type="text/javascript" src="__STATIC__index/js/jquery-1.7.2.min.js"></script>
		<script src="__STATIC__index/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
    	<script src="__STATIC__admin/lib/layui/layui.js" charset="utf-8"></script>


	</head>

	<body>
		<!--头 -->
		<header>
			<article>
				<div class="mt-logo">
						<!--悬浮搜索框-->
						<div class="nav white">
							<a href="/">
			                    <div class="logoBig">
			                        <li><img src="__STATIC__index/images/yxlogo.png" style="width:200px;height:90px;"/></li>
			                    </div>
		                    </a>
							<div class="search-bar pr">
								<a name="index_none_header_sysc" href="#"></a>
								<form id="seach_form" method="get" action="{:url('goods/list',['cate'=>0])}">
		                            <input id="searchInput" name="name" type="text" placeholder="搜索" autocomplete="off">
		                            <input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
		                        </form>
							</div>
						</div>

						<div class="clear"></div>
					</div>
				</div>
			</article>
		</header>
            <div class="nav-table">
					   <div class="long-title"><span class="all-goods">全部分类</span></div>
					   <div class="nav-cont">
							<ul>
								<li class="index"><a href="#">首页</a></li>
                                <li class="qc"><a href="#">闪购</a></li>
                                <li class="qc"><a href="#">限时抢</a></li>
                                <li class="qc"><a href="#">团购</a></li>
                                <li class="qc last"><a href="#">大包装</a></li>
							</ul>
						    <div class="nav-extra">
						    	<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
						    	<i class="am-icon-angle-right" style="padding-left: 10px;"></i>
						    </div>
						</div>
			</div>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="am-cf am-padding">
						<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">找回密码</strong> / <small>Password</small></div>
					</div>
					<hr/>
					<!--进度条-->
					<div class="m-progress">
						<div class="m-progress-list">
							<span class="step-1 step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">1<em class="bg"></em></i>
                                <p class="stage-name">找回密码</p>
                            </span>
							<span class="step-2 step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">2<em class="bg"></em></i>
                                <p class="stage-name">完成</p>
                            </span>
							<span class="u-progress-placeholder"></span>
						</div>
						<div class="u-progress-bar total-steps-2">
							<div class="u-progress-bar-inner"></div>
						</div>
					</div>
					<form class="am-form am-form-horizontal" id="getback_phone_form">
						<div class="am-form-group">
							<label for="user-new-phone" class="am-form-label">手机号码</label>
							<div class="am-form-content">
								<input type="text" placeholder="请输入您账号绑定的手机号码" name="phone">
							</div>
						</div>
						<div class="am-form-group code">
							<label for="user-new-code" class="am-form-label">验证码</label>
							<div class="am-form-content">
								<input type="text" placeholder="验证码" name="msgcode">
							</div>
							<a class="btn getback_phonecode">
								<div class="am-btn am-btn-danger">验证码</div>
							</a>
						</div>
						<div class="am-form-group">
							<label for="user-new-phone" class="am-form-label">新密码</label>
							<div class="am-form-content">
								<input type="password" placeholder="请输入新的密码" name="password">
							</div>
						</div>
						<div class="am-form-group">
							<label for="user-new-phone" class="am-form-label">确认密码</label>
							<div class="am-form-content">
								<input type="password" placeholder="请再次输入密码" name="repassword">
							</div>
						</div>
						<div class="info-btn">
							<div class="am-btn am-btn-danger getback_phone">保存</div>
						</div>

					</form>

				</div>
				<!--底部-->
				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">商城首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
						</p>
					</div>
				</div>
			</div>

			<aside class="menu">
				<ul>
					<li class="person active">
						<a href="{:url('login/emailgetback')}">邮箱找回</a>
					</li>
					<li class="person active">
						<a href="{:url('login/phonegetback')}">手机找回</a>
					</li>
				</ul>

			</aside>
		</div>
        <script type="text/javascript" src="__STATIC__index/main.js"></script>

	</body>

</html>