<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>发表评论</title>

		<link href="__STATIC__index/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="__STATIC__index/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="__STATIC__index/css/personal.css" rel="stylesheet" type="text/css">
		<link href="__STATIC__index/css/appstyle.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="__STATIC__index/js/jquery-1.7.2.min.js"></script>
    	<script src="__STATIC__admin/lib/layui/layui.js" charset="utf-8"></script>

	</head>

	<body>
		{include file="public/header"}
            <div class="nav-table">
					   <div class="long-title"><span class="all-goods">全部分类</span></div>
					   <div class="nav-cont">
							<ul>
								<li class="index"><a href="#">首页</a></li>
                                <li class="qc"><a href="#">闪购</a></li>
                                <li class="qc"><a href="#">限时抢</a></li>
                                <li class="qc"><a href="#">团购</a></li>
                                <li class="qc last"><a href="#">大包装</a></li>
							</ul>
						    <div class="nav-extra">
						    	<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
						    	<i class="am-icon-angle-right" style="padding-left: 10px;"></i>
						    </div>
						</div>
			</div>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-comment">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">发表评论</strong> / <small>Make&nbsp;Comments</small></div>
						</div>
						<hr/>
						<input type="hidden" name="orderid" value="{$orderid}">
						<div class="comment-main">
							{volist name="goods" id="vo"}
							<div class="comment-list">
								<div class="item-pic">
									<a href="{:url('goods/show',['id'=>$vo.goods_id])}" class="J_MakePoint">
										<img src="{$vo.pic}" class="itempic" style="width:148px;height:148px;">
									</a>
								</div>

								<div class="item-title">

									<div class="item-name">
										<a href="{:url('goods/show',['id'=>$vo.goods_id])}">
											<p class="item-basic-info">{$vo.name}</p>
										</a>
									</div>
									<div class="item-info">
										<div class="info-little">
											<span>颜色：洛阳牡丹</span>
											<span>包装：裸装</span>
										</div>
										<div class="item-price">
											价格：<strong>{$vo.price}元</strong>
										</div>										
									</div>
								</div>
								<div class="clear"></div>
								<div class="item-comment">
									<textarea placeholder="请写下对宝贝的感受吧，对他人帮助很大哦！" class="comment_content" data-id="{$vo.goods_id}"></textarea>
								</div>
								<div class="item-opinion">
									<li><i class="op1 level_check" data-key="0"></i>好评</li>
									<li><i class="op2 level_check" data-key="1"></i>中评</li>
									<li><i class="op3 level_check" data-key="2"></i>差评</li>
								</div>
							</div>
							{/volist}
								<div class="info-btn docomment-btn">
									<div class="am-btn am-btn-danger">发表评论</div>
								</div>							
					<script type="text/javascript">
						$(document).ready(function() {
							$(".comment-list .item-opinion li").click(function() {	
								$(this).prevAll().children('i').removeClass("active");
								$(this).nextAll().children('i').removeClass("active");
								$(this).children('i').addClass("active");
								
							});
				     })
					</script>					
					
												
							
						</div>

					</div>

				</div>
				<!--底部-->
				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">商城首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
						</p>
					</div>
				</div>
			</div>
		{include file="public/user_nav"}
		</div>
    <script type="text/javascript" src="__STATIC__index/main.js"></script>

	</body>

</html>