
<body>
        <div class="hmtop">
            <!--顶部导航条 -->
            <div class="am-container header">
                <ul class="message-l">
                    <div class="topMessage">
                        {if !$user}
                        <div class="menu-hd">
                            <a href="{:url('login/index')}"  class="h">亲，请登录</a>
                            <a href="{:url('regist/index')}" >免费注册</a>
                        </div>
                        {else /}
                        <div class="menu-hd">
                            <a href="{:url('user/index')}"  class="h">欢迎您,<span style="color:red;">{$userinfo.nickname}</span></a>
                            <a href="{:url('login/logout')}" id="logout_click">退出登录</a>
                        </div>
                        {/if}
                    </div>
                </ul>
                <ul class="message-r">
                    <div class="topMessage home">
                        <div class="menu-hd"><a href="/" class="h">商城首页</a></div>
                    </div>
                    <div class="topMessage my-shangcheng">
                        <div class="menu-hd MyShangcheng"><a href="{:url('user/index')}"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
                    </div>
                    <div class="topMessage mini-cart">
                        <div class="menu-hd"><a id="mc-menu-hd" href="{:url('shopcart/list')}"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong id="J_MiniCartNum" class="h">{$cartCount}</strong></a></div>
                    </div>
                    <div class="topMessage favorite">
                        <div class="menu-hd"><a href="{:url('collection/list')}"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
                </ul>
                </div>

                <!--悬浮搜索框-->

                <div class="nav white">
                    <a href="/">
                        <div class="logoBig">
                            <li><img src="__STATIC__index/images/yxlogo.png" style="width:200px;height:90px;"/></li>
                        </div>
                    </a>
                    <div class="search-bar pr">
                        <a name="index_none_header_sysc" href="#"></a>
                        <form id="seach_form" method="get" action="{:url('goods/list',['cate'=>0])}">
                            <input id="searchInput" name="name" type="text" placeholder="搜索" autocomplete="off">
                            <input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
                        </form>
                    </div>
                </div>

                <div class="clear"></div>
            </div>