<aside class="menu">
				<ul>
					<li class="person active">
						<a href="{:url('user/index')}"><i class="am-icon-user"></i>个人中心</a>
					</li>
					<li class="person">
						<p><i class="am-icon-newspaper-o"></i>个人资料</p>
						<ul>
							<li> <a href="{:url('user/info')}">个人信息</a></li>
							<li> <a href="{:url('account/index')}">账号设置</a></li>
							<li> <a href="{:url('account/address')}">地址管理</a></li>
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-balance-scale"></i>我的交易</p>
						<ul>
							<li><a href="{:url('order/list')}">订单管理</a></li>
							<li> <a href="{:url('order/comment_list')}">评价列表</a></li>
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-dollar"></i>我的资产</p>
						<ul>
							<li> <a href="{:url('points/index')}">我的积分</a></li>
							<li> <a href="{:url('coupon/index')}">优惠券</a></li>
						</ul>
					</li>

					<li class="person">
						<p><i class="am-icon-tags"></i>我的收藏</p>
						<ul>
							<li> <a href="{:url('collection/list')}">收藏</a></li>
							<li> <a href="{:url('trace/index')}">足迹</a></li>														
						</ul>
					</li>
				</ul>

			</aside>