{include file="public/header"}
 <body>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" action="{:url('picture/choosePics')}" method="post">
          <input class="layui-input" placeholder="开始日" name="start_time" id="start_time" value="{$start_time}">
          <input class="layui-input" placeholder="截止日" name="end_time" id="end_time" value="{$end_time}">
          <input type="hidden" name="type" value="{$type}" id="pic_type">
          <input type="text" name="name"  placeholder="请输入名称" autocomplete="off" class="layui-input" value="{$name}">
          <button type="submit" class="layui-btn"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="checkAll()">确认选择</button>
        <span class="x-right" style="line-height:40px">共有数据：{$count} 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>名称</th>
            <th>图片类型</th>
            <th>缩略图(点击显示大图)</th>
            <th>添加时间</th>
        </thead>
        <tbody>
        	{volist name="pics" id="vo"}
          <tr>
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$vo.id}'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{$vo.id}</td>
            <td>{$vo.name}</td>
            <td>{$vo.type|pic_type}</td>
            <td><img src="{$vo.pic_path}" width="50" height="50" class="pic_show" data-path="{$vo.pic_path}"></td>
            <td>{$vo.create_time}</td>
          </tr>
          {/volist}
        </tbody>
      </table>
      <div class="page">
      	{$pics->appends($params)->render()}
      </div>

    </div>
    <script type="text/javascript">
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start_time' //指定元素
        });
        laydate.render({
          elem: '#end_time' //指定元素
        });
      });
    </script>

{include file="public/footer"}