<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>我的足迹</title>

		<link href="__STATIC__index/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="__STATIC__index/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="__STATIC__index/css/personal.css" rel="stylesheet" type="text/css">
		<link href="__STATIC__index/css/footstyle.css" rel="stylesheet" type="text/css">
    	<script src="__STATIC__admin/lib/layui/layui.js" charset="utf-8"></script>

	</head>

	<body>
		{include file="public/header"}
            <div class="nav-table">
					   <div class="long-title"><span class="all-goods">全部分类</span></div>
					   <div class="nav-cont">
							<ul>
								<li class="index"><a href="#">首页</a></li>
                                <li class="qc"><a href="#">闪购</a></li>
                                <li class="qc"><a href="#">限时抢</a></li>
                                <li class="qc"><a href="#">团购</a></li>
                                <li class="qc last"><a href="#">大包装</a></li>
							</ul>
						    <div class="nav-extra">
						    	<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
						    	<i class="am-icon-angle-right" style="padding-left: 10px;"></i>
						    </div>
						</div>
			</div>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-foot">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">我的足迹</strong> / <small>Browser&nbsp;History</small></div>
						</div>
						<hr/>
						<!--足迹列表 -->
						{volist name="goods" id="vo"}
						{if $vo.status != -1}
						<div class="goods">
							<div class="goods-box first-box">
								<div class="goods-pic">
									<div class="goods-pic-box">
										<a class="goods-pic-link" href="{:url('goods/show',['id'=>$vo.id])}" title="{$vo.name}">
											<img src="{$vo.id|showPrePic}" class="goods-img" style="width:186px;height:186px;"></a>
									</div>
									<a class="goods-delete" href="{:url('trace/delete',['id'=>$vo.id])}"><i class="am-icon-trash"></i></a>
									{if $vo.status == 0}
									<div class="goods-status goods-status-show"><span class="desc">宝贝已下架</span></div>
									{/if}
								</div>

								<div class="goods-attr">
									<div class="good-title">
										<a class="title" href="{:url('goods/show',['id'=>$vo.id])}">{$vo.name}</a>
									</div>
									<div class="goods-price">
										<span class="g_price">                                    
                                        <span>¥</span><strong>{$vo.current_price}</strong>
										</span>
										<span class="g_price g_price-original">                                    
                                        <span>¥</span><strong>{$vo.origin_price}</strong>
										</span>
									</div>
									<div class="clear"></div>
									<div class="goods-num">
										<div class="match-recom">
											<a href="{:url('goods/list',['cate'=>$vo.cate_id])}" class="match-recom-item">找相似</a>
											<a href="#" class="match-recom-item">找搭配</a>
											<i><em></em><span></span></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						{/if}
						{/volist}
					</div>
				</div>

				<!--底部-->
				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">商城首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
						</p>
					</div>
				</div>
			</div>

			{include file="public/user_nav"}
		</div>
		<script type="text/javascript" src="__STATIC__index/main.js"></script>

	</body>

</html>